<h1>Listing villages</h1>

<table>
  <tr>
    <th>Name</th>
    <th>User</th>
    <th>Woodhouse</th>
    <th>Pit</th>
    <th>Mine</th>
    <th>Farm</th>
    <th>Wood</th>
    <th>Stone</th>
    <th>Iron</th>
    <th>Population</th>

    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @villages.each do |village| %>
  <tr>
    <td><%= village.name %></td>
    <td><%= village.user_id %></td>
    <td><%= village.woodhouse_id %></td>
    <td><%= village.pit_id %></td>
    <td><%= village.mine_id %></td>
    <td><%= village.farm_id %></td>
    <td><%= village.wood %></td>
    <td><%= village.stone %></td>
    <td><%= village.iron %></td>
    <td><%= village.population %></td>

    <td><%= link_to 'Show', village %></td>
    <td><%= link_to 'Edit', edit_village_path(village) %></td>
    <td><%= link_to 'Destroy', village, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Village', new_village_path %>
