
  <header>
    <nav>
      <ul>
        <center>
        <% if user_signed_in? %>
          <li> <%= link_to('Dörfer', villages_path) %></li>
          <li> <%= link_to('Karte', coordinates_map_path) %></li>
          <li> <%= link_to('Account', edit_user_registration_path) %></li>
  		  <li> <%= link_to('Logout', destroy_user_session_path, :method => :delete) %> </li>
		<% else %>
		  <li><%= link_to "Startseite", root_path %></li>
		  <li><%= link_to('Registrieren', new_user_registration_path)  %> </li>
		  <li> <%= link_to('Login', new_user_session_path)  %> </li>
		<% end %>

        </center>
      </ul>
    </nav>

  </header>
