
<html>
<head>
  <title>NewIsland</title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag :defaults %>
  <%= javascript_include_tag "test" %>
  <%= render 'layouts/test' %>
  <%= render 'layouts/ressources' %>
  <%= csrf_meta_tag %>
</head>
<body onload="init()">

<%= render 'layouts/header' %>
  <div class = "main">
     <section class = "round2">
    <p style="color: green"><%= notice %></p>
    <p style="color: red"><%= alert %></p>
    <%= yield %>
    <h6><font id="ur" size="2"></font></h6>
  </section>
</div>
</body>
</html>

<% if user_signed_in? %>
<div id="Ausgabe"></div>
<% else %>

<% end %>
